<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <title>Penalty Tracker</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<div ng-app="FeeApp" ng-controller="myController" ng-init="feeOne=0, feeTwo=0">
<table>
  <tr>
    <td>
        Arvin:
    </td>
    <td>
        <input type="number" ng-model="feeOne" value="0">
    </td>
     <td>
        <input type="number" ng-model="feeTwo" value="0">
    <td>
      <p>  Total:{{total()}}</p>
    </td>
  </tr>
</table>
</div>
</body>

<script>
var app = angular.module("FeeApp", []);

app.controller("myController", function($scope){
  $scope.total = function (){
   return parseInt($scope.feeOne) + parseInt($scope.feeTwo);
  }
});


</script>

</html>
